* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 70, 223);
    font-family: Arial, Helvetica, sans-serif;
}
.todo {
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(196, 196, 196, 0.2);
}

.todo:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.todo:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.todo.done {
    text-decoration: line-through 2px solid blueviolet;
}

.form-container {
    background-color: #001632;
    margin-top: 50px;
    padding: 100px 0;
    border-radius: 20px;
}

.form {
    width: 50%;
}

h1 {
    color: #6f787f;
}

ul {
    list-style: none;
    padding: 0;
}

.icon {
    background-color: red;
    padding: 7px;
    color: white;
    border-radius: 5px;
}

input {
    border: 0;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 75%;
}

.button {
    background: transparent;
    border: 1px solid #a58515;
    color: #a58515;
    padding: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 25%;
}